{% extends "templates/test.html" %}


{% block script %}
<script type="text/javascript">
  sk.start()

  const resources    = sk.resolve('resources')
  const stage        = sk.resolve('stage')
  const display      = sk.resolve('display')

  resources.add(sk.RESOURCES.BITMAP_FONT, 'desyrel', '/static/bitmapfonts/desyrel.xml')
  resources.load(() => {
    let bitmapFontText = new PIXI.extras.BitmapText('Hello, World!', { font: '35px Desyrel', align: 'center' });
    bitmapFontText.pivot.set(bitmapFontText.width/2, bitmapFontText.height/2)
    bitmapFontText.position.set(display.halfWidth, display.halfHeight)
    stage.addChild(bitmapFontText);
  })

</script>
{% endblock %}