{% extends "templates/test.html" %}


{% block script %}
<script type="text/javascript">
  sk.start()

  const resources = sk.resolve('resources')
  const stage     = sk.resolve('stage')
  const display   = sk.resolve('display')

  let t1 = null
  resources.load(() => {
    let ball = new PIXI.Graphics()
    ball.beginFill(sk.COLORS.WHITE).drawCircle(0, 0, 50)
    ball.tint = sk.COLORS.SK_RED
    ball.pivot.set(0, 0)
    ball.position.set(display.halfWidth, display.halfHeight)
    stage.addChild(ball)

    t1 = sk.tween.Tween.fromTo(ball, 1000, {x:0}, {x:display.width}, {
    // t1 = sk.tween.Tween.to(ball, 1000, {x:display.width}, {
    // t1 = sk.tween.Tween.from(ball, 1000, {x:0}, {
      // delay: 500,
      repeat: 3,
      // repeatDelay: 1000,
      yoyo: true,
      ease: sk.ease.bounceOut,
      yoyoEase: sk.ease.bounceIn,
      onStart: () => { console.log('onStart') },
      onUpdate: (progress) => {
        if (progress <= 0.5) {
          ball.tint = sk.colors.blend(sk.COLORS.FLAT_POMEGRANATE, sk.COLORS.FLAT_SUNFLOWER, progress*2)
        } else if (progress > 0.5) {
          ball.tint = sk.colors.blend(sk.COLORS.FLAT_SUNFLOWER, sk.COLORS.SK_LIME, (progress - 0.5)*2)
        }
      },
      onComplete: () => { console.log('onComplete') },
      onRepeat: () => { console.log('onRepeat') },
      onReverse: () => { console.log('onReverse') },
    }).start()
  })

</script>
{% endblock %}