{% extends "common/templates/base.html" %}

{% block body %}
  <div class="uk-container-small uk-margin-auto uk-padding-small">
    <h1 class="uk-h1">Welcome to Skald feature tests</h1>

    <div class="uk-card uk-card-secondary uk-card-body uk-padding-small">
      <table class="uk-table uk-table-small">
        <tbody>
          <tr>
            <td width="100px">Version:</td>
            <td><strong><script>document.write(sk.VERSION)</script></strong></td>
          </tr>
          <tr>
            <td>Build Date:</td>
            <td><strong><script>document.write(sk.BUILD_DATE)</script></strong></td>
          </tr>
          <tr>
            <td>Revision:</td>
            <td><strong><script>document.write(sk.REVISION)</script></strong></td>
          </tr>
          <tr>
            <td>PIXI Version:</td>
            <td><strong><script>document.write(sk.PIXI_VERSION)</script></strong></td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2 class="uk-heading-divider">Tests</h2>
  
    <p>Select one of the tests below to start:</p>

    <div class="uk-card uk-card-default uk-card-body uk-padding-small">
      <ul class="uk-list uk-list-divider">
        {% for test in all_tests %}
          <li><a href="/test/{{test | replace('/', '--')}}">{{test}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}