/**
 * GLOBAL
 */
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;

}
::-webkit-scrollbar-button{ 
  display: none;
}
::-webkit-scrollbar-button:hover{
  background-color: #AAA;
}
::-webkit-scrollbar-thumb{
  background-color: #82C0FF;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #5BACFF;
}
::-webkit-scrollbar-track{
  background-color: #efefef;
}
::-webkit-scrollbar-track:hover{
  // background-color: #CCC;
}
::-webkit-scrollbar{
  width: 6px;
}


/**
 * General style
 */
.sk-main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 250px auto 300px;
  grid-template-rows: 30px auto 300px;
  grid-template-areas: 
    "header header header"
    "menu game game"
    "menu console options"
}
.sk-panel {
  height: 100%;
}
.sk-panel-title {
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 2;
  color: #333;
  background: #DEDEDE;
  border-bottom: 1px solid #BBB;
}



/**
 * Header
 */
.sk-header {
  grid-area: header;
  background: #272822;
  border-bottom: 1px solid #BBB;
  padding: 0 10px;
}
.sk-header .uk-button {
  max-height: 27px;
  line-height: 26px;
}


/**
 * Menu
 */
.sk-menu {
  grid-area: menu;
  background: #fafafa;
  border-right: 1px solid #BBB;
  overflow: hidden;
  max-height: 100%;
}
.sk-menu-content {
  padding: 10px;
  height: calc(100vh - 75px);
  overflow-y: auto;
  overflow-x: hidden;
}


/**
 * Game
 */
.sk-game {
  grid-area: game;
}


/**
 * Options
 */
.sk-options {
  grid-area: options;
  background: #fafafa;
  border-top: 1px solid #BBB;
  overflow: hidden;
}
.sk-options-content {
  height: calc(100% - 25px);
  overflow-y: auto;
  overflow-x: hidden;
}


/**
 * Console
 */
.sk-console {
  grid-area: console;
  background: #fafafa;
  border-top: 1px solid #BBB;
  border-right: 1px solid #BBB;
}
.sk-console-content {
  background: #ffffff;
  width: calc(100vw - 551px);
  height: calc(100% - 25px);
  overflow-y: auto;
  overflow-x: hidden;
}
.sk-console-item {
  position: relative;
  font-size: 14px;
  padding: 0 10px 0 20px;
  border-bottom: 1px solid #eaeaea;
  word-wrap: break-word;
}
.sk-console-item:before {
  content: "›";
  position: absolute;
  left: 8px;
  top: -2px;
  color: #666666;
}
.sk-console-item:last-child {
  margin-bottom: 50px;
}
.sk-console-item-log {}
.sk-console-item-info {
  color: #5EBDD4;
  background: #D6F7FF;
}
.sk-console-item-info:before {
  content: "☉";
  left: 5px;
  top: 1px;
  color: #5EBDD4;
}
.sk-console-item-warn {
  color: #C59748;
  background: #FFF6E7;
}
.sk-console-item-warn:before {
  content: "⚠";
  left: 4px;
  top: 0;
  color: #C59748;
}
.sk-console-item-error {
  color: #D45E5E;
  background: #FFD6D6;
}
.sk-console-item-error:before {
  // content: "⚠";
  content: "⊗";
  left: 3px;
  top: -1px;
  color: #D45E5E;
}



/**
 * DAT GUI Light Theme. 
 * http://brm.io/dat-gui-light-theme/
 */
.dg.main {
  padding-bottom: 50px;
}
.dg.main.taller-than-window .close-button {
  border-top: 1px solid #ddd;
}

.dg.main .close-button {
  background-color: #ccc;
  display: none;
}
 
.dg.main .close-button:hover {
  background-color: #ddd;
}

.dg {
  color: #555;
  text-shadow: none !important;
}

.dg li:not(.folder) {
  background: #fafafa;
  border-bottom: 1px solid #ddd;
}
 
.dg li.save-row .button {
  text-shadow: none !important;
}

.dg li.title {
  background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}

.dg .cr {
  border-left-color: transparent !important;
}
.dg .cr.function:hover,.dg .cr.boolean:hover {
  background: #fff;
}
 
.dg .c input[type=text] {
  background: #e9e9e9;
}
 
.dg .c input[type=text]:hover {
  background: #eee;
}
 
.dg .c input[type=text]:focus {
  background: #eee;
  color: #555;
}
 
.dg .c .slider {
  background: #e9e9e9;
}

.dg .c .slider:hover {
  background: #eee;
}
