<div id="sk-options" class="c-options">
  
</div>

<style>
  .c-options {
    height: 263px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  /**
   * DAT GUI Light Theme. 
   * http://brm.io/dat-gui-light-theme/
   */
  .c-options .dg.main .close-button {
    display: none;
  }

  .c-options .dg.main {
    margin-bottom: 20px;
  }

  .c-options .dg {
    color: #555;
    text-shadow: none !important;
  }
  .c-options .dg li.title {
    background: #ddd;
    padding: 5px 5px 0 5px;
    font-style: italic;
    font-weight: bold;
  }
  .c-options .dg .closed {
    border-bottom: 1px solid #ddd;
  }
  .c-options .dg .closed li:not(.folder) {
    border: 0;
  }
  .c-options .dg li:not(.folder) {
    background: #fff;
    border-bottom: 1px solid #ddd;
  }
  .c-options .dg .cr {
    border-left: 1px solid #ddd;
  }

  .c-options .dg .cr.function:hover,.dg .cr.boolean:hover {
    background: #F3F3F3;
    user-select: none;
  }
  .c-options .dg .cr.function:active,.dg .cr.boolean:active {
    background: #F6F6F6;
    user-select: none;
  }

  .c-options .dg .c input[type=text] {
    background: #eee;
    color: #666;
  }
  .c-options .dg .c input[type=text]:hover {
    background: #F3F3F3;
  }
  .c-options .dg .c input[type=text]:focus {
    background: #F6F6F6;
    color: #000;
  }

  .c-options .dg .c .slider {
    background: #eee;
    outline: 1px solid rgba(47, 161, 214, 0.2);
  }
  .c-options .dg .c .slider:hover {
    background: #F3F3F3;
    outline: 1px solid rgba(47, 161, 214, 0.5);
  }
  .c-options .dg .c .slider:active {
    background: #F6F6F6;
  }
  .c-options .dg .c .slider-fg {
    background: #2fa1d6;
  }


  /*

  .c-options .dg {
    color: #555;
    text-shadow: none !important;
  }

  .c-options .dg.main::-webkit-scrollbar {
    background: #fafafa;
  }

  .c-options .dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
  }
   
  .c-options .dg li:not(.folder) {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
  }
   
  .c-options .dg li.save-row .button {
    text-shadow: none !important;
  }

  .c-options .dg li.title {
    background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
  }

  .c-options .dg .cr.function:hover,.dg .cr.boolean:hover {
    background: #fff;
  }
   
  .c-options .dg .c input[type=text] {
    background: #e9e9e9;
  }
   
  .c-options .dg .c input[type=text]:hover {
    background: #eee;
  }
   
  .c-options .dg .c input[type=text]:focus {
    background: #eee;
    color: #555;
  }
   
  .c-options .dg .c .slider {
    background: #e9e9e9;
  }

  .c-options .dg .c .slider:hover {
    background: #eee;
  }*/

</style>