<div id="sk-performance" class="c-performance">
  <ul uk-accordion>
    <li>
      <a class="uk-accordion-title" href="#">boot</a>
      <div class="uk-accordion-content">
        <ul uk-accordion>
          <li>
            <a class="uk-accordion-title" href="#">coiso</a>
            <div class="uk-accordion-content">
              blah
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<style>
  .c-performance {

  }
  .c-performance * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 21px;
    line-height: 21px;
    padding: 0;
    margin: 0;
  }
  .c-performance .uk-accordion {
    padding: 0;
    margin: 0;
  }
  .c-performance .uk-accordion li {
    padding-left: 10px;
    margin: 0;
  }
  .c-performance .uk-accordion-content {
    margin: 0;
  }
</style>