{% extends "common/templates/base.html" %}

{% block title %}
  [test] {{current_test}} - Skald Feature Tests
{% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/js/dat.gui.min.js"></script>
  <link rel="stylesheet" href="/static/css/tests.css" />
{% endblock %}

{% block body %}
  <div class="sk-main">

    <!-- HEADER -->
    <div class="sk-header">
      <div id="sk-header" class="sk-header-content">
        <a href="/" class="uk-button uk-button-primary uk-button-small">
          Home
        </a>
      </div>
    </div>
    <!-- END HEADER -->

    <!-- MENU -->
    <div class="sk-panel sk-menu">
      <div class="sk-panel-title">Available Tests</div>

      <div id="sk-menu" class="sk-menu-content">
        <ul class="uk-nav uk-nav-default">
          {% for test in all_tests %}
            <li {% if test == current_test %} class="uk-active" {% endif%}>
              <a href="/test/{{test | replace('/', '--')}}">{{test}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- END MENU -->

    <!-- GAME -->
    <div class="sk-panel sk-game">
      <div id="sk-game" class="sk-game-content">

      </div>
    </div>
    <!-- END GAME -->

    <!-- CONSOLE -->
    <div class="sk-panel sk-console">
      <div class="sk-panel-title">Log</div>
      <div id="sk-console" class="sk-console-content">
        
      </div>
    </div>
    <!-- END CONSOLE -->
    
    <!-- OPTIONS -->
    <div class="sk-panel sk-options">
      <div class="sk-panel-title">Options</div>
      <div id="sk-options" class="sk-options-content">
        
      </div>
    </div>
    <!-- END OPTIONS -->
  </div>

  <!-- FINAL SCRIPTS -->
  <script type="text/javascript" src="/static/js/tests.js"></script>
  <!-- END FINAL SCRIPTS -->
{% endblock %}